@import '../globals/styles';

$z-footer-level-1: $z-landingStripe + 1;
$z-footer-level-2: $z-landingStripe + 2;
$z-footer-level-3: $z-landingStripe + 3;
$z-footer-level-4: $z-landingStripe + 4;
$breaking-width: 560px;

.bb-landing {
	width: 100vw;
	height: 100vh;
	position: relative;
}


.bb-landing-stripe {
	position: absolute;
	margin-top: 50px;
	flex-grow: 1;
	padding-top: 130px;
	background-color: $offWhite;
	z-index: $z-landingStripe;

	.bb-landing-stripe-level1, .bb-landing-stripe-level2, .bb-landing-stripe-level3, .bb-landing-stripe-level4 {
		height: 180px;
		width: 100vw;
		position: absolute;
		left: 0;
		transform: skew(45deg) rotate(70deg);
	}

	.bb-landing-stripe-level1 {
		background-color: $pink;
		z-index: $z-footer-level-1;
		top: 0;
	}

	.bb-landing-stripe-level2 {
		background-color: $black;
		z-index: $z-footer-level-2;
		top: 120px;
	}

	.bb-landing-stripe-level3 {
		background-color: $midPink;
		z-index: $z-footer-level-3;
		top: 240px;
	}

	.bb-landing-stripe-level4 {
		background-color: $green;
		z-index: $z-footer-level-4;
		top: 360px;
	}
}

.bb-landing-title {
	position: absolute;
	z-index: $z-landingStripe + 5;
	bottom: 140px;
	margin: 20px;

	h3 {
		font-size: 60px;
		line-height: 0.8;
		color: $black;
		margin: 0;

		@media screen and (min-width: $breaking-width) {
			font-size: 80px;
		}
	}

	h1 {
		margin: 5px 0 0 5px;
		font-size: 28px;
		line-height: 0.8;
		color: $pink;

		@media screen and (min-width: $breaking-width) {
			font-size: 30px;
		}
	}
}