@import '../globals/styles';

.bb-latestArticles {
	margin-bottom: 45px;

	.bb-latestArticles-title {
		@include accentCopy(18px);
		text-align: center;
		margin-bottom: 8px;
	}

	.bb-latestArticles-articlePreviews {
		display: flex;
		flex-direction: row;
	}

	.bb-articlePreview {
		order: 1;
		width: 33%;
		text-align: left;
	}
}