@import '../globals/styles';

.bb-projectsSection {

	.bb-projectsWrapper {
		display: flex;
		justify-content: space-between;
	}

	.bb-projectsSection-title {
		@include accentCopy(18px);
		text-align: center;
		margin-bottom: 8px;
	}

	// override styles for 3rd party package
	.bb-repoCard {
		flex-basis: 30%;

		div {
			background-color: $offWhite !important;
			border-color: $black !important;
			color: $black !important;

			a {
				color: $grey !important;
			}

			svg path {
				fill: $black;
			}
		}
	}

	.bb-projectCard {
		flex-basis: 30%;
	}
}