/*------------------------------*\
	Global Styles
\*------------------------------*/

/*------------------------------*\
	Imports
\*------------------------------*/

@import url('https://fonts.googleapis.com/css2?family='+
'Montserrat:wght@400;600;900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700' +
'&family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

@import '../../lib/typeset.css';
/*------------------------------*\
	Type Treatments
\*------------------------------*/

$mainFont: 'PT Serif', serif;
$headlineFont: 'Montserrat', san-serif;
$codeFont: 'Inconsolata', monospace;

/*------------------------------*\
	Colors
\*------------------------------*/
$black: #311D3F;
$grey: #355C7D;
$midPink: #6C5B7B;
$pink: #F67280;
$darkRed: #522546;
$midRed: #88304E;
$red: #E23E57;
$offWhite: #F2EDD7;
$green: #A6F0C6;
$blue: #7DEDFF;

/*------------------------------*\
	Screen Sizes
\*------------------------------*/

$mobileScreen: 900px;

/*------------------------------*\
	Z-indices
\*------------------------------*/

$z-landingStripe: 5;

/*------------------------------*\
	Mixins
\*------------------------------*/

@mixin bodyCopy($fontSize: 22px) {
	font-family: $mainFont;
	font-size: $fontSize;
	line-height: 1.7;
	color: $black;
}

@mixin headlineCopy($fontSize: 32px) {
	font-family: $headlineFont;
	font-size: $fontSize;
	line-height: 1;
	color: $black;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: .04em;
}

@mixin heavyLink($fontSize: 16px) {
	font-family: $headlineFont;
	font-size: $fontSize;
	line-height: 1;
	color: $black;
	font-weight: 900;
}

/*------------------------------*\
	Page Wrappers
\*------------------------------*/

.bb-thinWrapper {
	max-width: 768px;
	margin: 0 auto;
}

.bb-mediumWrapper {
	max-width: 960px;
	margin: 0 auto;
}

.bb-wideWrapper {
	max-width: 1260px;
	margin: 0 auto;
}

/*------------------------------*\
	Generic Type Styles
\*------------------------------*/

html, body {
	padding: 0;
	margin: 0;
}

body {
	background-color: $offWhite;
}

h1 {
	@include headlineCopy(60px);
}

h2 {
	@include headlineCopy(30px);
}

h3 {
	@include headlineCopy(30px);
}

p {
	@include bodyCopy(19px);
}

code {
	font-family: $codeFont;
	border-radius: 5px;
}