@import '../globals/styles';

.bb-mainHeader {

	.bb-mainHeader-flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.bb-mainHeader-logo {
		@include headlineCopy(18px);
		color: $black;
		width: 100px;
		vertical-align:baseline;
		margin-top: 15px;

		a {
			text-decoration: none;
			color: inherit;
		}

		&:hover {
			color: $pink;
		}
	}

	.bb-mainHeader-nav {
		@include accentCopy(16px);

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: $pink;
			}
		}

		ul {
			padding: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			flex-grow: 1;
		}

		li {
			list-style: none;
			margin: 0 0 0 60px;
		}
	}
}