@import './../styles';

.bb-articlePreview {
	a {
		text-decoration: none;
		color: inherit;
	}

	a:hover .bb-articlePreview-title {
		color: $pink
	}

	.bb-articlePreview-title {
		@include headlineCopy(22px);
		margin-bottom: 0;
	}

	.bb-articlePreview-publishDate {
		@include accentCopy(12px);
		margin: 0;
	}
}